.board{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
}

.box{
    background-color: #282c34;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    font-size: 60px;
    font-weight: bold;
    color: white;


    transition: scale 0.2s ease;
}

.box:hover{
    background-color: #454c58;
    scale: 1.1;
}

.dashboard{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10%;
    
}

.endGameScreen{
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    width: 70vw;
    height: 70vh;
    background-color: #515a6b;
    justify-content: center;
    align-items: center;
}

.seperate{
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    
}
.endScreenBtn{
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
}

.resetButton{
    font-size: 1.2rem;
    width: 150px;
    height: 65px;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: #375da8;
    color: var(--clr-light);
    padding: .5em 1em;
    border-radius: 6px;
    border-bottom: 4px solid #000000;
    font-family: 'Trebuchet MS';
    transition: all 0.1s ease-in;
    flex-shrink: 1;
    flex-grow: 0;
}
.resetButton:hover{
    background-color: #5882d6;
}


.resetButton:active{
    transform: translateY(4px);
    border: transparent;
}